<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kitchening</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="shortcut icon" href="/images/logo.jpg" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script
      src="https://kit.fontawesome.com/d43dfad79c.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="home__body">
    <header class="home__header">
      <img src="/images/logo.jpg" alt="Logo-kitchening" id="header__logo"/>
      <div>
        <i class="fas fa-bars"></i>
      </div>
      <nav class="header__navbar">
        <ul>
          <li id="home"><a href="">HOME</a></li>
          <li><a href="">QUIENES</a></li>
          <li><a href="">SERVICIOS</a></li>
          <li><a href="">PORTFOLIO</a></li>
          <li><a href="">SUCURSALES</a></li>
          <li><a href="">CONTACTO</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/images/img-pdto-1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/img-pdto-2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/img-pdto-3.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <section class="home__main__section">
        <article class="home__main__section__article">
          <div class="main__section__article__image">
            <img src="/images/img-pdto-1.jpg" alt="brindis-navidad" class="article__image"/>
            <a class="article__ampliarTexto" href="">AMPLIAR FOTO</a>
            <img src="/images/img-nuevo.png" alt="nuevo" class="article__etiqueta"/>
          </div>
          <div>
            <h3>Lorem ipsum amet</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia
              culpa perspiciatis sequi iste nam, voluptate dolorem blanditiis
              quis quaerat delectus est voluptas laboriosam rem ipsam officiis
              neque, numquam sit? Illo.
            </p>
            <a class="home__main__article__button" href="">ver más</a>
          </div>
        </article>
        <article>
          <div class="main__section__article__image">
            <img src="/images/img-pdto-2.jpg" alt="brindis-navidad" class="article__image"/>
            <a class="article__ampliarTexto" href="">AMPLIAR FOTO</a>
            <img src="/images/img-gratis.png" alt="gratis" class="article__etiqueta"/>
          </div>
          <div>
            <h3>Lorem ipsum amet</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia
              culpa perspiciatis sequi iste nam, voluptate dolorem blanditiis
              quis quaerat delectus est voluptas laboriosam rem ipsam officiis
              neque, numquam sit? Illo.
            </p>
            <a class="home__main__article__button" href="">ver más</a>
          </div>
        </article>
        <article>
          <div class="main__section__article__image">
            <img src="/images/img-pdto-3.jpg" alt="brindis-navidad" class="article__image"/>
            <a class="article__ampliarTexto" href="">AMPLIAR FOTO</a>
            <img src="/images/img-descuento.png" alt="descuento" class="article__etiqueta"/>
          </div>
          <div>
            <h3>Lorem ipsum amet</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia
              culpa perspiciatis sequi iste nam, voluptate dolorem blanditiis
              quis quaerat delectus est voluptas laboriosam rem ipsam officiis
              neque, numquam sit? Illo.
            </p>
            <a class="home__main__article__button" href="">ver más</a>
          </div>
        </article>
        <article>
          <div class="main__section__article__image">
            <img src="/images/img-pdto-1.jpg" alt="brindis-navidad" class="article__image"/>
            <a class="article__ampliarTexto" href="">AMPLIAR FOTO</a>
            <img src="/images/img-gratis.png" alt="gratis" class="article__etiqueta"/>
          </div>
          <div>
            <h3>Lorem ipsum amet</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia
              culpa perspiciatis sequi iste nam, voluptate dolorem blanditiis
              quis quaerat delectus est voluptas laboriosam rem ipsam officiis
              neque, numquam sit? Illo.
            </p>
            <a class="home__main__article__button" href="">ver más</a>
          </div>
        </article>
        <article>
          <div class="main__section__article__image">
            <img src="/images/img-pdto-2.jpg" alt="brindis-navidad" class="article__image"/>
            <a class="article__ampliarTexto" href="">AMPLIAR FOTO</a>
            <img src="/images/img-nuevo.png" alt="nuevo" class="article__etiqueta"/>
          </div>
          <div>
            <h3>Lorem ipsum amet</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia
              culpa perspiciatis sequi iste nam, voluptate dolorem blanditiis
              quis quaerat delectus est voluptas laboriosam rem ipsam officiis
              neque, numquam sit? Illo.
            </p>
            <a class="home__main__article__button" href="">ver más</a>
          </div>
        </article>
        <article>
          <div class="main__section__article__image">
            <img src="/images/img-pdto-3.jpg" alt="brindis-navidad" class="article__image"/>
            <a class="article__ampliarTexto" href="">AMPLIAR FOTO</a>
            <img src="/images/img-descuento.png" alt="descuento" class="article__etiqueta"/>
          </div>
          <div>
            <h3>Lorem ipsum amet</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia
              culpa perspiciatis sequi iste nam, voluptate dolorem blanditiis
              quis quaerat delectus est voluptas laboriosam rem ipsam officiis
              neque, numquam sit? Illo.
            </p>
            <a class="home__main__article__button" href="">ver más</a>
          </div>
        </article>
      </section>
    </main>
    <footer>
      <nav class="footer__navbar">
        <ul>
          <li id="home"><a href="" class="footer__home">Home</a></li>
          <li><a href="">Quienes</a></li>
          <li><a href="">Servicios</a></li>
          <li><a href="">Portfolio</a></li>
          <li><a href="">Sucursales</a></li>
          <li><a href="">Contacto</a></li>
        </ul>
      </nav>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>
